<div class="<%= location %>">
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "Our Mission", about_me_path %></div>
  <div><%= link_to "Contact Us", contact_path %></div>
  <div><%= link_to "Blog", blogs_path %></div>
  <div><%= link_to "Portfolio", portfolios_path %></div>
</div>